#above{
	text-align: center;
	padding:20px;
}
.txt{
	width:100%;
}
.editor{
	padding:0px;
}
#htmltitle, #csstitle, #jstitle{
	border-radius: 7px 20px 0px 0px;
	background-color:cadetblue;
	width:150px;
	text-align: center;
	color: #FFFFFF;
	height:100%;
}
#result1{
	width:100%;
}
#result2{
	width:100%;
}
#test{ 
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:aqua;
}
#changeres1, #changeres2{
	width:20px;
	height:20px;
	background-color:green;
	position:absolute;
	margin:20px;
	opacity: 0.5;
	right : 0;
}
#resouter{
	display:none;
}
